{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static 'images/blockchain.png' %}" width="45" height="45" class="d-inline-block " alt="">
    <a class="navbar-brand ml-3" href="{% url 'home:index' %}" style="font-size: 17px;">
        BlockChain
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto text-center">

        </ul>
        <ul class="nav navbar-nav navbar-right text-center">
            <a href="{% url 'home:profile' %}" class="btn btn-light m-1">
                <li class="text-light " style="font-size: 17px; color: black !important;">Profil</li>
            </a>
            <a href="{% url 'home:demand' %}" class="btn btn-light m-1">
                <li class="text-light " style="font-size: 17px; color: black !important;">Demande d'ajout <span class="badge badge-danger">{{ nbr_request }}</span> </li>
            </a>
            <a href="{% url 'login:logout' %}" class="btn btn-light m-1">
                <li class="text-light" style="font-size: 17px; color: black !important;">Se deconnecter</li>
            </a>
        </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>